<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110449137620-7qs112mgo40dbrqg8hgp2cc1mn7f4sfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110449137620-7qs112mgo40dbrqg8hgp2cc1mn7f4sfs</string>
	<key>API_KEY</key>
	<string>AIzaSyBbovNPZwKgFuFcEGgOdIekcx8T6q2Yc_0</string>
	<key>GCM_SENDER_ID</key>
	<string>110449137620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duyquang.jsonui</string>
	<key>PROJECT_ID</key>
	<string>zent-lms</string>
	<key>STORAGE_BUCKET</key>
	<string>zent-lms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110449137620:ios:1ae1a83c80ad60dff92841</string>
	<key>DATABASE_URL</key>
	<string>https://zent-lms.firebaseio.com</string>
</dict>
</plist>